{% extends 'base.html' %}

{% block content %}

{% endblock  %}

    <!--Main Layout-->
    <!-- Insert here Order Now button, Our Offerings and Our Menu -->
    <!--Main Layout-->

    <!-- FAQ section -->
    <div class="bg-dark text-white" style="border:70px solid #343A40">
        <div class="container">
            <h3 class="text-center">FAQ</h3>
            <div id="accordion">
                <div class="card bg-dark border-dark">
                    <div class="card-header border-dark bg-dark">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            What's Regular Pizza?
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body">
                            <p>Our Regular Pizza is a thin-crust or Neapolitan pizza. They come in 2 sizes: small (12" in diameter) and large (16" in diameter). The small is suitable for 1 or 2 people while the large feeds 2 to 4 people.</p>
                        </div>
                    </div>
                </div>
                <div class="card bg-dark border-dark">
                    <div class="card-header border-dark bg-dark">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            What's Sicilian Pizza?
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <p>Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice or a 15-slice size.</p>
                            <ul class="">
                                <li>
                                    The 9-slice size is 16" x 16" and will feed anywhere from 3 to 5 people.
                                </li>
                                <li>
                                    The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ section -->

    <!-- Phone section -->
    <span>
        <h3 class="bg-primary text-white text-center" style="border:70px solid #007BFF">
            <i class="fa-solid fa-phone"></i> Call us now at 617-876-4897
        </h3>
    </span>
    <!-- Phone section -->

    <!-- Footer -->
    <footer class="footer" style="border:15px solid white">
        <div class="container">
            <a href="tel:617-876-4897" role="button" class="btn btn-outline-light text-muted float-right">
                <i class="fa-solid fa-phone"></i>
            </a>
            <a href="mailto:pizzeria@gmail.com" role="button" class="btn btn-outline-light text-muted float-right">
                <i class="fa-solid fa-envelope"></i>
            </a>
            <a href="https://twitter.com/Pizzeria" role="button" class="btn btn-outline-light text-muted float-right">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/pizzeria/" role="button" class="btn btn-outline-light text-muted float-right">
                <i class="fa-brands fa-instagram"></i>
            </a>   
            <p class="text-muted">
                © 2022. All rights reserved by Pizzeria.
            </p>
        </div>
    </footer>
    <!-- Footer -->
</body>
</html>